.menu {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 40px;
}
.menu__logo {
  h1 {
    font-size: 2vw;
    color: #1e90ff;
  }
}
.menu__main {
  padding-bottom: 20px;

  h3 {
    margin-bottom: 15px;
    font-size: 25px;
    color: #647381;
  }
}
