.menu {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  border: 2px solid black;
}

.menu__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;

  mat-icon {
    width: 70px;
    height: 70px;
    color: #0a86ff;
    font-size: 70px;
  }
}

.menu__main {
  padding-bottom: 20px;
  border-bottom: 2px solid #dcdcdc;

  h3 {
    margin-bottom: 15px;
    font-size: 25px;
    color: #647381;
  }
}
.menu__other {
  padding-top: 20px;

  h3 {
    margin-bottom: 15px;
    font-size: 25px;
    color: #647381;
  }
}

.menu__logout {
  margin-top: 20px;
}
