<ns-header></ns-header>
<ns-container>
    <div class="title">
        <h1>USD 1285.49</h1>
        <p>Итоговый баланс</p>
    </div>
    <div class="main">
        <div class="main__account">
            <ns-plate>
                <div class="account">
                    <div class="account__title">
                        <h2>Мои счета</h2>
                        <button
                            (click)="toggleClass()"
                        >
                            <mat-icon
                                class="icon"
                                [ngClass]="{'active-icon': isActive}"
                            >
                                expand_more
                            </mat-icon>
                        </button>
                    </div>
                    <div class="account__list" *ngIf="isActive">
                        <div class="account__item" *ngFor="let balance of balances" (click)="selectBalance(balance)">
                            <p>{{ balance.wallet }}</p>
                            <p>{{ balance.balance }}</p>
                        </div>
                    </div>
                    <div class="account__selected" *ngIf="selectedBalance">
                        <p>Счет {{ selectedBalance.wallet }}</p>
                        <p>{{ selectedBalance.balance }}</p>
                    </div>
                </div>
            </ns-plate>
            <ns-plate>
                <div class="transactions">
                    <div class="transactions__title">
                        <h3>Мои транзакции</h3>
                        <div class="transactions__buttons">
                            <button>Дата</button>
                            <button>Категория</button>
                        </div>
                    </div>
                    <div class="transactions__list">
                        <div class="transactions__item">
                            <img src="" alt="">
                            <p>Транспорт</p>
                        </div>
                        <p>-USD 15.19</p>
                    </div>
                </div>
            </ns-plate>
        </div>
        <div class="main__analitics">
            <ns-plate>
                <button>Добавить транзакцию</button>
            </ns-plate>
            <ns-plate>
                <div class="analitics">
                    <div class="analitics__title">
                        <h3>Мои транзакции</h3>
                        <div class="analitics__buttons">
                            <button>Дата</button>
                            <button>Категория</button>
                        </div>
                    </div>
                    <div class="analitics__list">
                        <div class="analitics__item">
                            <img src="" alt="">
                            <p>Транспорт</p>
                        </div>
                        <p>-USD 15.19</p>
                    </div>
                </div>
            </ns-plate>
        </div>
    </div>
</ns-container>
